
#banner{
    background-position-x: 80% !important;
}

#banner .form form{
    width: 25%;
}

.section02 img.mobile-image{
    display: none;
}

.light-blue{
    background-color: rgba(159, 209, 230, 0.972);
}

.rounded-radius{
    border-radius: 20px !important;
}

#banner-comprehensive-insurance{
    background-position-x: 80% !important;
}



.covers ul {
    list-style: none;
    list-style-position: outside;

}
.covers ul li{
    text-indent: -1.5em;
  padding-left: 1em;
}
.covers ul li:before {
    content: '\2714\0020';
    color:blue;
  }

.buy-ins .img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.docs > div{
    height: 500px;
    padding: 4rem;
}



@media only screen and (max-width: 768px) {
    nav{
        background-color: #0566D7ff;
    }


    #banner {
        background-position-y: bottom !important;
        text-align: center;
    }

    .section02 > div > div,
    .section02 > div > h2,
    .section03 > div > div,
    .section05 > div > div > div,
    .section07 > div > div > div,
    .section08 > div > div,
    .section09 > div > div > div,
    .section11 > div > div > div > div,
    .docs > div > div,
    .section12 > div > div,
    .section12 .card-item
    {
        width: 100% !important;
        text-align: center;
    }



    #banner .form button{
        width: 80%;
    }

    .covers ul li, .covers ul {
        padding-left: 10px;
        text-align: left;
    }



    .buy-ins .img {
        height: fit-content;
        margin-bottom: 1rem;
    }


    .docs > div{
        height: fit-content;
        padding: 0;
    }


    .section02 img.mobile-image{
        display: block;
    }


    .section02{
        background: lightblue !important;
    }



}

