
#banner{
    background-position-x: 80% !important;
}

nav img.white{
    display: none;
}

#banner .form form{
    width: 25%;
}

.section02 img.mobile-image{
    display: none;
}

.light-blue{
    background-color: rgba(159, 209, 230, 0.972);
}

.rounded-radius{
    border-radius: 20px !important;
}

#banner-comprehensive-insurance{
    background-position-x: 80% !important;
}



.covers ul {
    list-style: none;
    list-style-position: outside;

}
.covers ul li{
    text-indent: -1.5em;
  padding-left: 1em;
}
.covers ul li:before {
    content: '\2714\0020';
    color:blue;
  }

.buy-ins .img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.docs > div{
    height: 500px;
    padding: 4rem;
}

.mySwiper .swiper-slide{
    background-color: #0D6EFD;
    border-radius: 3rem;
    width: 15rem !important;
}

.swiper-wrapper{
    height: 15rem !important;
    margin-bottom: 2rem;
}

.swiper-wrapper img{
    width: 40% !important;
}
.swiper-wrapper h4 {
    color: white;
    text-align: center;
    padding: 1rem;
}



@media only screen and (max-width: 768px) {
    nav{
        background-color: #0566D7ff;
    }
    .navbar-light .navbar-brand{
        width: 50%;

    }
    nav img.white{
        width: 100%;
        display: block;
    }

    .navbar-light .navbar-nav .nav-link{
        color: white;
    }
    nav img.colored{
        display: none;
    }
    #dropdownMenuButton1{
        width: 100%;
        text-align: left;
        display: flex;
        color: white !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #banner {
        background-position-y: bottom !important;
        text-align: center;
    }

    .section02 > div > div,
    .section02 > div > h2,
    .section03 > div > div,
    .section05 > div > div > div,
    .section07 > div > div > div,
    .section08 > div > div,
    .section09 > div > div > div,
    .section11 > div > div > div > div,
    .docs > div > div,
    .section12 > div > div,
    .section12 .card-item,
    #banner .form form
    {
        width: 100% !important;
        text-align: center;
    }


    #banner .form button{
        width: 80%;
    }

    .covers ul li, .covers ul {
        padding-left: 10px;
        text-align: left;
    }



    .buy-ins .img {
        height: fit-content;
        margin-bottom: 1rem;
    }


    .docs > div{
        height: fit-content;
        padding: 0;
    }


    .section02 img.mobile-image{
        display: block;
    }


    .section02{
        background: lightblue !important;
    }


    #navbarSupportedContent{
        height: 30vh;
    }

    #navbarSupportedContent ul{
        --bs-scroll-height: 70% !important;
        width: 100% !important;
    }


    .navbar-light .navbar-toggler{
        border: none;
    }


    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }


    .mySwiper .swiper-slide{
        width: 10rem !important;
    }

    .swiper-wrapper{
        height: 10rem !important;
    }

    .swiper-wrapper h4 {
        color: white;
        text-align: center;
        font-size: .9rem;
        padding: .5rem;
    }


    footer .footer-container{
        width: 100%;
    }

    footer .footer-container>div{
        margin-bottom: 2rem;
    }

    .footer-container {
        padding: 1rem;
    }

    .section06 .swiper{
        margin-top: 3rem;
    }

    footer .social-media img, footer .location img{
        width: 25px;
        height: 25px;
    }


}

.floating-btn{
    background-color: rgba(47, 165, 249, 1);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem .5rem;
}

.floating-btn > *{
    padding-top: .2rem;
    width: 80%;
}



footer{
    color: white;
    height: fit-content;
    background-color: rgba(0, 91, 157, 1);
    display: block;
    background-color: #005B9D;
    width: 100%;
    padding: 3rem 0;
}

.footer-container{
    padding: 2rem;
}

.footer-payment img{
    width:50px;
    height: 50px;
}

footer .links a{
    display: block;
    color: white;
    text-decoration: unset;
    margin: 1.3rem 0;
    white-space: nowrap;
}

footer .links a:active, footer .links a:hover,footer .links a:visited{
    color: white;
    text-decoration: unset;
}


footer .links > div{
    width: 50%;
}

footer .social-media{
    width: 50%;
}
footer .social-media img, footer .location img{
    width: 50px;
    height: 50px;
}

footer .contact img{
    width: 25px;
    height: 25px;
}

footer .payment img{
    width: 75px;
}


.siderbar-logo{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .1rem;
}

.siderbar-logo img{
    width: 50px;
    margin-right: 15px;
}

.sidebar{
    z-index: 9999999;
    position: fixed;
    right: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.siderbar-logo.whatsapp{
    background-color: rgba(38, 211, 128, 1);
}

.siderbar-logo.phone{
    background-color: rgba(0, 190, 232, 1);
}

.siderbar-logo.telegram{
    background: rgba(12, 123, 204, 1);
}

.siderbar-logo.chat{
    background: rgba(47, 165, 249, 1);
}

.siderbar-logo:hover{
    animation-name: open;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes open {
    from{
        width: 75px;
    }
    to{
        width: 200px;
    }
}

