.filter-button button{
    display: none;
}


@media only screen and (max-width: 768px) {
    

    .document-cards .card,
    .thank-you-text,
    .pay-insurance-house .card-insurance,
    .price-summary,
    .insurance-house,
    .insurance-house>div>div,
    .insurance-house .accordion-body >div,
    .insurance-house .accordion-item >div>div
    {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    .pay-insurance-house{
        width: 95% !important;
    }

    .pay-insurance-house .card-body{
        width: 100% !important;
    }

    .pay-insurance-house .shadow{
        box-shadow: none !important;
    }

    .pay-insurance-house .card-insurance,.pay-insurance-house .price-summary {
        border: 1px dotted #002D62 !important;
    }

    #title-section-summary{
        display: none;
    }

    .insurance-filter{
        display: none;
    }
 
    .filter-button button{
        display: block;
    }

    .premium p,.premium h3, .card-item h6,.card-item p
    {
        font-size: 13px;
    }
    .insurance-house .card-body .card-item{
        width: 100% !important;
        text-align: start;
    }
    .insurance-house .card-body .card-item >img{
        width: 20px !important;
        height: 20px !important;
    }
    /* .insurance-house .premium{
        width: 50% !important;
    } */

    .insurance-house .accordion-body .accordion-item-title{
        border-bottom: unset;
        text-align: start !important;
        margin-bottom: 1rem;
        width: 100% !important;
    }

    #coverage .features-icon{
        position: relative;
        top: 1.6rem;
        width: 10% !important;
    }

    .buttons-thankyou button{
        font-size: .8rem;
        padding: 0;
    }

    ul{
        padding-left: 0 !important;
    }
}