html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


.answers .card.square{
    width: 300px;
    height: 300px;
}



.card.square-medium.item{
    height: 200px;
}

.progress-icon{
    position: relative;
    left: 0;
    transition: all .45s ease-in-out;
    moz-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
}

#progressBar{
    background-color: #497BB0 !important;
}
.button-primary{
    background-color: #497BB0;
    color: white;
    border: none;
}

.answers{
    height: 50vh;
    overflow-y: scroll;
    padding: 1rem;
}

.answers .card.square .card-body,.answers .card.square-small .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers .card.square-small .card-body img{
    margin-bottom: 0 !important; ;
}

.answers .card.rectangle{
    width: 100%;
    height: fit-content;
}

.answers .card.rectangle .card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.answers .card.rectangle img{
    width: 20% !important;
}

#square-small{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

#square-small > div{
    width: 15%;
}

#square-small > div {
    height: 100px;
}

#boxes-rectangle{
    display: grid !important;
    grid-template-columns: 50% 50%;
}




#rectangle{
    display: grid;
    grid-template-columns: auto;
}

#square{
    display: grid;
    grid-template-columns: auto auto;
}

#form{
    display: flex;
}

#dynamic-form > div.select-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
}

div.form-selected{
    margin: 1rem 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.content-ol li:before {
    font-size: 1.2rem;
}

.active{
    background: #D8F1FDff;
}

.border-primary{
    border: 5px solid #497BB0 !important;
}

.input-slider input:focus{
    outline: none;
    box-shadow: none !important;
}


.question01 .card.item:hover{
    background: #D8F1FDff;
}
.question-section{
    border-left: 1px solid gray;
}

.content-ol li {
    margin-bottom: 1rem;
}




/* slider range css */
.slider-container {
    position: relative;
    width: 100%;
    margin-top: 1rem;
}
.slider-container .bar {
    position: absolute;
    z-index: 1;
    left: 2px;
    top: 7px;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: lightgray;
    overflow: hidden;
}

.slider-container .slider {
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}
.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 4px solid #497BB0;
    box-shadow: 0 0 0 0 rgba(0, 138, 238, .1);
    transition: .3s ease-in-out;
}


.float-label-field {
    border: none;
    outline: none;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
}

.float-label-field input,.float-label-field.upload-file{
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    border: solid 1px #D1D5DB;
    border-radius: 0.25rem;
    padding: 0.4rem 0.7rem;
}
#choices{
    justify-content: flex-start;
    padding: 1rem;
}
#choices div h6,#choices div p{
    text-align: center;
}
#choices div{
    padding: 1rem;
    margin: 0 1rem;
    width: 10%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.float-label-field label{
  
    position: absolute;
    top: 4px;
    left: 0px;
    transition: all 0.2s ease;
    font-size: 1rem;
    margin: 0.35rem 0.7rem;
    background-color: white;
    font-weight: 100;
}

.float-label-field.focus label {
    color: gray;
}

.float-label-field.float label {
    opacity: 1;
    top: -.9rem;
    font-size: .8rem;
    transition: all 0.2s ease;
}